.single{
    /* background-image: url(../../../images/banner/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg); */
    background-color: darkblue !important;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}